.notebody {
  margin: 0 auto;
  padding: 0;
  width: 80vh;
  height: 90vh;
  -ms-overflow-style: none;
  overflow: auto;
}
::-webkit-scrollbar {
  display: none;
}
.noteTitle {
  font-family: 'Courier New', Courier, monospace;
}
.context {
  height: 30vh;
}
.noteItem {
  margin-bottom: 10px;
  width: 90%;
  height: 80%;
}
.note_sub {
  width: 100px;
}
.custom-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
