.project_main {
  margin: 0 auto;
  padding: 0;
  width: 82vh;
  height: 90vh;
  -ms-overflow-style: none;
  overflow: auto;
}
.project_card {
  margin: 10px;
  width: 45%;
}
.project_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
